.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 45%
    left: -5%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 10%
  &-3
    animation: float2 2.8s ease-in-out infinite alternate
    position: absolute
    top: 5%
    right: 44%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)

@keyframes float2
  0%
    transform: translateX(30px)
  100%
    transform: translateX(0px)
.banner-principal
  &__info
    padding: 0 3rem

.banner-principal .tarjeta
  background-position: left 50%
  @media screen and (max-width: 768px)
    background-position: -200px 0

.banner-principal__row .banner-principal__img
  width: 400px !important
  margin: 0
  padding: 2rem 0 0 0!important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption
  font-weight: normal

.bloque-texto-b:before
  background: $color-adicional-2
